    header {
        width: 100%;
        position: fixed;
        z-index: 100;
        background-color: #F1F3FF;
        }




    .navbarNav {

        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 520;

        padding-left: 25%;
   
    }


    .Home {
        width: 100%;
        padding-top: 70px;
        background-color: #F1F3FF;
    }
    

    .judul {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    .title {
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 40px;
    }


    .desc {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-style: normal;
        line-height: 18px;
        padding-top: 10px;        
    }


    .button {
        padding-top: 10px;
    }


    .icon {
        display: flex;
        justify-content: flex-end;
        padding-top: 30px;
        padding-left: 30px;
    }


    .OurServices ul {
        list-style: none; 
        padding-left: 1px; 
        line-height: 20px;
    }


    .services {
        padding-top: 45px;
    }


     #testimonial {
        padding: 10px;
        margin-top: 60px;
    } 


    .icon-testi {
        padding-top: 30px;
    }


    .card-body {
        background-color: #F1F3FF;
    }


    .testi {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }


    .test {
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: bold;
        line-height: 36px;
        text-align: center;
    }


    .desc3 {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 300;
        font-size: 14px;
        font-style: normal;
        line-height: 20px;
        padding-bottom: 20px;
    }


    .button2 {
        padding-top: 10px;
        padding-bottom: 100px;
    }


    .btn-carousel {
        display: flex;
        justify-content: center;
    }
    

    .carousel-control {
        background: #5CB85F;
        width: 30px;
        height: 30px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        margin-right: 10px;
    }
    

    .carousel button {
        border-radius: 100%;
        margin: 5px 15px;
    }
    

    .tombol-crsl {
        width: 15px;
        height: 15px;
    }
    

    .sewa {
        width: 100%;
        margin-top: 40px;
    }
    

    .FAQ {
        padding-top: 70px;
        padding-bottom: 70px;
    }


    #footer {
        margin-top: 8%;
        margin-bottom: 5%;
        width: 100%;
    }

      
    #footer #address p {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
    }
      

    #footer #navigation-footer ul li {
        list-style: none;
    }
      
    #footer #navigation-footer ul a {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        color: black;
    }
    
    
    #footer #navigation-footer ul a:hover {
        text-decoration: none;
    }
    
    
    #footer #connect-with-us p {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
    }
    
    
    #footer #connect-with-us svg {
        background-color: #0D28A6;
        border-radius: 100%;
        padding: 5px;
        color: white;
        margin-right: 8px;
    }
    
    
    #footer #copyright p {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
    } 


    @media (min-width: 425px) and (max-width: 768px){
        .card2 {
            display: none;
        }

       .card3 {
           display: none;
       }

       .card5 {
           display: none;
       }
       
       .card6 {
           display: none;
       }
       
       .card8 {
           display: none;
       }
       
       .card9 {
           display: none;
       }
    }

    @media (min-width: 320px) and (max-width: 425px) {
  
        .area-logo {
            padding-right: 60px;
        }

        .Home {
            width: 100%;
            display: flex;
            flex-direction: column;     
        }

        .OurServices ul {
            width: 100%;
            font-size: 14px;
        }

        .OurServices h2 {
            font-size: 21px;
        }

        #whyus {
            display: flex;
            flex-direction: column;
    
        }

        .whyusintro {
            text-align: center;
        }

        .area-whyus {
            padding: 20px;
        }
        
        .Testimonial {
            display: flex;
            flex-direction: column; 
            align-items: center;
        }

        .col-lg-9 {
            text-align: center;
        }
        .card2 {
             display: none;
         }

        .card3 {
            display: none;
        }

        .card5 {
            display: none;
        }
        
        .card6 {
            display: none;
        }
        
        .card8 {
            display: none;
        }
        
        .card9 {
            display: none;
        }

        .FAQ {
            display: flex;
            flex-direction: column;
        }

        .sewa {
            width: 100%;
        }

        footer {
            width: 100%;
            padding-left: 8px;
        }
    }

    @media only screen and (min-width: 1024px) {
        .btnnav {
            display: none;
        }

        .navbarNav {
            padding-left: 10%;
        }
    }